.home-header {
	width: 680px;
	margin-top: 220px;
	display: flex;
	flex-direction: column;
	text-align: center;
	margin-left: -130px;
}
.home-header-buttons {
	margin-top: 65px;
	display: flex;
	justify-content: space-between;
}
.header-button {
	width: 310px;
	height: 120px;
	background-color: #00000000;
	font-size: 36px;
	a {
		text-decoration: none;
		color: #111111;
	}

}