@import './settings/fonts';
@import './settings/colors';
@import './home-component/home-header-styles.scss';
@import './Home-three-columns-component/home-three-columns-style.scss';

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	background-color: #61dafb;
	font-family: $font-base;
}
.page-wrapper {
	max-width: 1900px;
	margin: 0 auto;
	background-color: #fff;
}






