@import './settings/fonts';
@import './settings/colors';
@import '../components/Home/HomeHeader/home-header-styles.scss';
@import '../components/Home/HomeHeader-title/HomeHeader-title-styles';
@import '../components//Home/HomeThreeColumns/home-three-columns-styles.scss';
@import '../components/Home/Home-4steps/home-4steps-styles.scss';
@import '../components/Home/Home-about-us/about-us.styles.scss';
@import '../Register-LogIn-Page/login-page/logIn-register-component.styles.scss';
@import '../components/Home/Home-who-helping/home-whoHelping.scss';
@import '../components/Home/Home-contact/Home-contact-component.scss';


* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	background-color: #61dafb;
	font-family: $font-base;
}
.page-wrapper {
	max-width: 1900px;
	margin: 0 auto;
	background-color: #fff;
}
a {
	text-decoration: none;
	color: black;
}






